*
{
    padding: 0;
    margin: 0;
}
header
{
    background-color: gray;
}
header h1
{
    text-align: center;   
    padding: 10px;
}
table
{
    border-collapse: collapse;
    margin-top: 50px;
}
th, td
{
    border: 2px solid black;
    font-size: 18px;
    padding: 5px;
}
th
{
    text-align: center;
}
.BlockFilter
{
    margin: 5px;
    font-size: 18px;
    width: 300px;
    height: 200px;
}
.BlockFilter b
{
    text-align: center;
}
.BlockFilter select
{
    margin: 5px;
}